header.header-wrap
    .container
        .header
            a(href="/").header-logo 
                span.header-logo_accent NVRSK 
                span.header-logo_main • NOVOSTROY
            ul.header-menu
                li.menu-item.current-menu-item
                    a.menu-item__link(href="#") Новостройки
                li.menu-item
                    a.menu-item__link(href="#") Вторичное жильё
                li.menu-item
                    a.menu-item__link(href="#") Застройщики
                li.menu-item
                    a.menu-item__link(href="#") Ипотечный калькулятор
                li.menu-item
                    a.menu-item__link(href="#") Акции
            .header-contacts
                a(href="tel:88004440499").header-contacts__phone
                    +icon('phone_call')
                    | 8 (800) 444-04-99
            .header-burger
                .header-burger__line.header-burger__line-top
                .header-burger__line.header-burger__line-mid
                .header-burger__line.header-burger__line-bot
//- header.header-wrap
//-     .container
//-         .header.header_second
//-             a(href="/").header-logo 
//-                 span.header-logo_accent NVRSK 
//-                 span.header-logo_main • NOVOSTROY
//-             .header-address
//-                 +icon('place')
//-                 | улица Пушкина дом Колотушкина
//-             .header-contacts
//-                 a(href="tel:88004440499").header-contacts__phone
//-                     +icon('phone_call')
//-                     | 8 (800) 444-04-99