extends layout/main

block variables
	-var title = 'Новостройки'

block content
	section.section.newb.newb-section
		.container.newb-container
			h2.section-title Все новостройки Новороссийска
			.section-subtitle Выберите квартиру в одном из лучших жилых комплексов 
			.section-grid.newb-list
				.newb-card
					.newb-card__img-wrap
						figure.newb-card__img
							img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
					.newb-card__info
						h3.newb-card__info-title ЖК “АРЕНА”
						.newb-card__info-feature 15 мин. до моря
						.newb-card__info-address Проспект Дзержинского, д. 247	
						.newb-card__info-price 
							span от 15 000 
							span ₽/м
							sup 2
					a(href="#").newb-card__info-more Подробнее
				.newb-card
					.newb-card__img-wrap
						figure.newb-card__img
							img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
					.newb-card__info
						h3.newb-card__info-title ЖК “АРЕНА”
						.newb-card__info-feature 15 мин. до моря
						.newb-card__info-address Проспект Дзержинского, д. 247	
						.newb-card__info-price 
							span от 15 000 
							span ₽/м
							sup 2
					a(href="#").newb-card__info-more Подробнее
				.newb-card
					.newb-card__img-wrap
						figure.newb-card__img
							img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
					.newb-card__info
						h3.newb-card__info-title ЖК “АРЕНА”
						.newb-card__info-feature 15 мин. до моря
						.newb-card__info-address Проспект Дзержинского, д. 247	
						.newb-card__info-price 
							span от 15 000 
							span ₽/м
							sup 2
					a(href="#").newb-card__info-more Подробнее
				.newb-card
					.newb-card__img-wrap
						figure.newb-card__img
							img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
					.newb-card__info
						h3.newb-card__info-title ЖК “АРЕНА”
						.newb-card__info-feature 15 мин. до моря
						.newb-card__info-address Проспект Дзержинского, д. 247	
						.newb-card__info-price 
							span от 15 000 
							span ₽/м
							sup 2
					a(href="#").newb-card__info-more Подробнее
				.newb-card
					.newb-card__img-wrap
						figure.newb-card__img
							img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
					.newb-card__info
						h3.newb-card__info-title ЖК “АРЕНА”
						.newb-card__info-feature 15 мин. до моря
						.newb-card__info-address Проспект Дзержинского, д. 247	
						.newb-card__info-price 
							span от 15 000 
							span ₽/м
							sup 2
					a(href="#").newb-card__info-more Подробнее
				.newb-card
					.newb-card__img-wrap
						figure.newb-card__img
							img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
					.newb-card__info
						h3.newb-card__info-title ЖК “АРЕНА”
						.newb-card__info-feature 15 мин. до моря
						.newb-card__info-address Проспект Дзержинского, д. 247	
						.newb-card__info-price 
							span от 15 000 
							span ₽/м
							sup 2
					a(href="#").newb-card__info-more Подробнее
	include modules/choose/choose