extends layout/main

block variables
    -var title = 'Акции'

block content
    section.hero.promo-page(style="background-image: url(/static/images/common/hero-bg-promo.jpg)")
        .container
            .hero-title.promo-title Акции <br> от застройщиков Новороссийска
            .promo-subtitle Выгодные предложения от лучших застройщиков Новороссийска для покупки квартиры своей мечты
    section.section.promo
        .container.promo-container
            .promo-list
                .promo-card
                    .promo-card__img-wrap
                        figure.promo-card__img
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                    .promo-card__info-wrap
                        .promo-card__info
                            .promo-card__info-content
                                .promo-card__info-title Квартира у моря
                                .promo-card__info-desc за 12 038 руб./мес.
                                a(href="#").promo-card__info-more Подробнее
                                    +icon('arow_right')
                        figure.promo-card__info-logo
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                .promo-card
                    .promo-card__img-wrap
                        figure.promo-card__img
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                    .promo-card__info-wrap
                        .promo-card__info
                            .promo-card__info-content
                                .promo-card__info-title Квартира у моря
                                .promo-card__info-desc за 12 038 руб./мес.
                                a(href="#").promo-card__info-more Подробнее
                                    +icon('arow_right')
                        figure.promo-card__info-logo
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                .promo-card
                    .promo-card__img-wrap
                        figure.promo-card__img
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                    .promo-card__info-wrap
                        .promo-card__info
                            .promo-card__info-content
                                .promo-card__info-title Квартира у моря
                                .promo-card__info-desc за 12 038 руб./мес.
                                a(href="#").promo-card__info-more Подробнее
                                    +icon('arow_right')
                        figure.promo-card__info-logo
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                .promo-card
                    .promo-card__img-wrap
                        figure.promo-card__img
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                    .promo-card__info-wrap
                        .promo-card__info
                            .promo-card__info-content
                                .promo-card__info-title Квартира у моря
                                .promo-card__info-desc за 12 038 руб./мес.
                                a(href="#").promo-card__info-more Подробнее
                                    +icon('arow_right')
                        figure.promo-card__info-logo
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                .promo-card
                    .promo-card__img-wrap
                        figure.promo-card__img
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                    .promo-card__info-wrap
                        .promo-card__info
                            .promo-card__info-content
                                .promo-card__info-title Квартира у моря
                                .promo-card__info-desc за 12 038 руб./мес.
                                a(href="#").promo-card__info-more Подробнее
                                    +icon('arow_right')
                        figure.promo-card__info-logo
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                .promo-card
                    .promo-card__img-wrap
                        figure.promo-card__img
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")
                    .promo-card__info-wrap
                        .promo-card__info
                            .promo-card__info-content
                                .promo-card__info-title Квартира у моря
                                .promo-card__info-desc за 12 038 руб./мес.
                                a(href="#").promo-card__info-more Подробнее
                                    +icon('arow_right')
                        figure.promo-card__info-logo
                            img(src="https://gdenovostroyki.ru/upload/iblock/00f/00fd7816120f01ac43bdeea878e4adb2.jpg" alt="img")