// Colors
$white: #fff;
$black: #000;
$colorAccent: #efbd36;
$colorMain: #0c2e59;

// Sizes
$base-font-size: 16px;


$mobilesm: 480px;
$mobile: 576px;
$tablet: 768px;
$tabletlg: 960px;
$large: 1024px;
$desktop: 1280px;


$content: 1200px;

// Fonts
