section.section.choose(style="background-image: url(/static/images/common/choose-bg.jpg)")
    .container.choose-container
        h2.section-title Не можете выбрать?
        .section-subtitle Закажите консультацию нашего специалиста и он поможет вам подобрать оптимальный вариант недвижимости
        form.choose-form
            input(type="text" placeholder="Ваше имя ").choose-form__name
            input(type="tel" placeholder="+7 (___) ___-__-__").phone-input.choose-form__phone
            button(type="submit").choose-form__submit Записаться
            .choose-form__info Нажимая на кнопку вы даете согласие на обработку 
                a(href="#") персональных данных