footer.footer-wrap
    .container
        .footer
            a(href="/").footer-logo 
                span.footer-logo_accent NVRSK 
                span.footer-logo_main • NOVOSTROY
                .footer-logo__under Продажа недвижимости в Новороссийске
            ul.footer-menu
                li.menu-item.current-menu-item
                    a.footer-menu__item-link(href="#") Новостройки
                li.menu-item
                    a.footer-menu__item-link(href="#") Вторичное жильё
                li.menu-item
                    a.footer-menu__item-link(href="#") Застройщики
                li.menu-item
                    a.footer-menu__item-link(href="#") Ипотечный калькулятор
                li.menu-item
                    a.footer-menu__item-link(href="#") Акции
                li.menu-item
                    a.footer-menu__item-link(href="#") Видеообзоры
            .footer-contacts
                a(href="tel:88004440499").footer-contacts__phone
                    +icon('phone_call')
                    | 8 (800) 444-04-99
        .footer-bot
            .footer-bot__dev
                a(href="https://webtt.ru/").footer-bot__dev-item.footer-bot__dev-logo
                    img(src="/static/images/common/wt-logo.png", alt="webtarget-logo")
                .footer-bot__dev-item.footer-bot__dev-desc Разработка, сопровождение и продвижение сайтов
            

.cta-popup-wrap.cta-popup__wrap.zhk-needfull__more-popup
    .cta-popup-content
        .cta-popup
            .cta-popup__title получить консультацию, видео или записаться на просмотр
            form.choose-form
                input(type="text" placeholder="Ваше имя ").choose-form__name
                input(type="tel" placeholder="+7 (___) ___-__-__").phone-input.choose-form__phone
                button(type="submit").choose-form__submit Записаться
                .choose-form__info Нажимая на кнопку вы даете согласие на обработку 
                    a(href="#") персональных данных
        .cta-popup-overlay

.cta-popup-wrap.zhk-how__btn-popup
    .cta-popup-content
        .cta-popup
            .cta-popup__title получите расчёт
            form.choose-form
                .zhk-checks
                    label.zhk-check__wrap
                        input.zhk-check(type="checkbox")
                        +icon('calc')
                        span Ипотека от банков
                    label.zhk-check__wrap
                        input.zhk-check(type="checkbox")
                        +icon('cal')
                        span Рассрочка
                    label.zhk-check__wrap
                        input.zhk-check(type="checkbox")
                        +icon('purse')
                        span Материнский капитал
                    label.zhk-check__wrap
                        input.zhk-check(type="checkbox")
                        +icon('doc')
                        span Военная ипотека
                input(type="text" placeholder="Ваше имя ").choose-form__name
                input(type="tel" placeholder="+7 (___) ___-__-__").phone-input.choose-form__phone
                input(type="text" placeholder="Первоначальный взнос").choose-form__name
                button(type="submit").choose-form__submit Записаться
                .choose-form__info Нажимая на кнопку вы даете согласие на обработку 
                    a(href="#") персональных данных
        .cta-popup-overlay

.cta-popup-wrap.zhk-process__slider-btn-wrap
    .cta-popup-content
        .cta-popup
            .cta-popup__title Запись на просмотр
            .cta-popup__desc Посмотрите своими глазами на свою будущую квартиру, походите по комнатам, почувствуйте свой новый дом
            form.choose-form
                input(type="text" placeholder="Ваше имя ").choose-form__name
                input(type="tel" placeholder="+7 (___) ___-__-__").phone-input.choose-form__phone
                button(type="submit").choose-form__submit Записаться
                .choose-form__info Нажимая на кнопку вы даете согласие на обработку 
                    a(href="#") персональных данных
        .cta-popup-overlay

.cta-popup-wrap.apartment-card__more-popup
    .cta-popup-content
        .cta-popup
            .cta-popup__title Узнайте стоимость квартиры на сегодня
            form.choose-form
                input(type="text" placeholder="Ваше имя ").choose-form__name
                input(type="tel" placeholder="+7 (___) ___-__-__").phone-input.choose-form__phone
                button(type="submit").choose-form__submit Записаться
                .choose-form__info Нажимая на кнопку вы даете согласие на обработку 
                    a(href="#") персональных данных
        .cta-popup-overlay       